body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
}

h1 {
    text-align: center;
    color: blueviolet;
    text-decoration: underline;

}

p {
    font-style: italic;
}